table{
    border: 3px solid black;
    box-shadow: 5px 5px 5px hsl(0, 0%, 78%);
    margin-left: auto;
    margin-right: auto;
}

img{
    width: 200px;
    height: 70px;
}

img#pic2{
    width: 150px;
    margin-left: 20px;
}

td, th{
    border: 1px solid black;
    padding: 1em;
}
th{
    background-color: rgb(114, 218, 195);
}

a{
    text-decoration: none;
}

a:hover{
    color: brown;
}

tr:nth-of-type(even){
    padding: 100px;
}